extends layout

block content
  input#user_id(type="hidden", name="user_id" value=`${doc._id}`)
  input#bmr(type="hidden", name="bmr" value=`${doc.bmr}`)
  h2 #{data[0].label? data[0].label : ""}

  if data
    .card(style='width: 20rem;')
      img.card-img-top(src=`${data[0].image}` alt='...')
      .card-body
        h5.card-title #{data[0].label}
        p.card-text
          .row
            .col
              p.fs-7 Calories #{Math.floor(data[0].calories)}
            .col
              p.fs-7.pe-2 Serivng Size #{data[0].yield}
          .row
            .col
              p.fs-7 Ingridients: #{data[0].ingredients.length}
            .col
              p.fs-7 Total time #{Math.floor(data[0].totalTime)} min

        hr
        h6.font-bold Ingredients
        ul.list-group.list-group-flush
          each val in data[0].ingredients
            li.list-group-item #{val.text}

  else
    p There no recipe at the moment
  hr

block scripts
  script(src="/js/searchRecipe.js")

